.page-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
}

.medium-editor {
    min-height: 85px;
    padding: 5px 15px;
    border: 1px dashed;
    border-radius: 5px;
}
