<div class="page-title">
    Medium Editor
</div>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div
            #editable
            class="col-8 medium-editor"
        ></div>

        <div
            *ngIf="editor"
            class="col-4 shadow"
            [innerHTML]="editor.elements[0].innerHTML"
            [appMath]="mathLatex"
        ></div>
    </div>
</div>

<!-- TODO: delete this block -->
<div style="width: 50%; margin: 20px auto 0; padding: 10px; border: 1px solid;">
    <label>LaTex DEMO</label>
    <br>

    <textarea (input)="textChange($event)"></textarea>
    <div [appMath]="mathLatex"></div>
</div>
<!-- --- -->
