<!-- main layout -->
<div
    *ngIf="isAppLoaded"
    class="container"
>
    <app-header></app-header>
    <router-outlet></router-outlet>
</div>

<!-- app loading -->
<div
    *ngIf="!isAppLoaded"
    class="container"
>
    <div class="loader-area">
        <span class="loader-text">
            Loading...
        </span>
    </div>
</div>


<div style="width: 50%; margin: 20px auto 0; padding: 10px; border: 1px solid;">
    <label>LaTex DEMO</label>
    <br>

    <textarea (input)="textChange($event)"></textarea>
    <div [appMath]="mathLatex"></div>
</div>
